@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p></p>
</div>
<form method="post">
            <div class="form-group">
                <input type="submit" value="Выгрузить отчет по вашим товарам на складе" class="btn btn-primary" />
            </div>
        </form>
